body {
    background-color: #C7EFCF;
  }
  
  h1 {
    color: #22333B;
    text-align: center;
  }

  h2 {
    text-align: center;
    color: #22333B;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color: #22333B;
  }

  a {
    color: #A9927D;
  }

  nav {
    text-align: center;
  }

  li {
    color: #22333B;
  }