body {
    background-color: lightblue;
  }
  
  main {
    padding: 13px;
  }

  h1 {
    color: white;
    text-align: center;
  }

  h2 {
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  a {
    color: white;
  }

  nav {
    text-align: center;
  }

  form {
    display: block;
  }

  label {
    margin-bottom: 10px;
    display: block;
  }