<header>
    <h1> Jelani Boone's Jazzy Bobcats || ITIS3135</h1>
    <nav>
        <a href="./">Homepage</a>
        ||
        <a href="introduction.html">Introduction</a>
        ||
        <a href="contract.html">Contract</a>
        ||
        <a href="forms.html">Forms</a>
        ||
        <a href="/">Back to Main Site</a>
        
    </nav>
    <nav>
        <a href="/itis3135/stuff/STUFF&PAGE.htm">CRAPPY</a>
        ||
        <a href="just-ball.org/" target="_blank">Brand</a>
    </nav>
</header>